@import "bootstrap/dist/css/bootstrap.min.css";

$background-color: #E7ECEF;

body {
  background-color: $background-color;
}

@font-face {
  font-family: 'Mont Heavy';
  src: url('./style/Mont-HeavyDEMO.otf') format('opentype');
}
