.Layout {

  .Header {
    .navbar-brand, .dropdown-toggle {
      font-weight: bold;
      font-family: 'Mont Heavy', serif;
    }
  }

  .LayoutContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: calc(100vh - 10em);
    height: calc(100vh - 10em);

    margin-top: 5em;
  }

  .Footer {
    .FooterText {
      font-size: 0.9em;
      color: grey;
    }
  }
}

.embedded {
  min-height: 100vh;
  height: 100vh;
}
